.red-circle-faded-4 {
    position: absolute;
    top: 167px;
    left: 356px;
    filter: blur(150px);
    border-radius: 50%;
    background-color: #e51a25;
    width: 93px;
    height: 93px;
}
.nav-link {
    position: relative;
    line-height: 28px;
}
.navitems {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 16px;
}
.navbar-nav {
    position: absolute;
    top: 52px;
    right: 74px;
    width: 90px;
    height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 10px;
}
.navbar-nav1 {
    position: absolute;
    top: 52px;
    right: 0px;
    width: 90px;
    height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 10px;
}
.navitems2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 16px;
    cursor: pointer;
}
.navbar-nav2 {
    position: absolute;
    top: 52px;
    right: 130px;
    width: 90px;
    height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
}
.logo-icon {
    position: absolute;
    top: 41px;
    left: 12px;
    width: 132.5px;
    height: 33.1px;
    object-fit: contain;
}
.red-circle-faded {
    position: absolute;
    top: -25px;
    left: 22px;
    filter: blur(150px);
    border-radius: 50%;
    background-color: #e51a25;
    width: 93px;
    height: 93px;
}
.red-circle-faded1 {
    position: absolute;
    top: 1474px;
    left: 138px;
    filter: blur(150px);
    border-radius: 50%;
    background: linear-gradient(#eaf1f7, #eaf1f7), linear-gradient(#eaf1f7, #eaf1f7), #eaf1f7;
    width: 93px;
    height: 93px;
}
.red-circle-faded2 {
    position: absolute;
    top: 1099px;
    left: 135px;
    filter: blur(150px);
    border-radius: 50%;
    background: linear-gradient(#eaf1f7, #eaf1f7), linear-gradient(#eaf1f7, #eaf1f7), #eaf1f7;
    width: 93px;
    height: 93px;
}
.red-circle-faded3 {
    position: absolute;
    top: 724px;
    left: 132px;
    filter: blur(150px);
    border-radius: 50%;
    background: linear-gradient(#eaf1f7, #eaf1f7), linear-gradient(#eaf1f7, #eaf1f7), #eaf1f7;
    width: 93px;
    height: 93px;
}
.red-circle-faded4 {
    position: absolute;
    top: 1860px;
    left: 141px;
    filter: blur(150px);
    border-radius: 50%;
    background: linear-gradient(#eaf1f7, #eaf1f7), linear-gradient(#eaf1f7, #eaf1f7), #eaf1f7;
    width: 93px;
    height: 93px;
}
.red-circle-faded5 {
    position: absolute;
    top: 2239px;
    left: 141px;
    filter: blur(150px);
    border-radius: 50%;
    background: linear-gradient(#eaf1f7, #eaf1f7), linear-gradient(#eaf1f7, #eaf1f7), #eaf1f7;
    width: 93px;
    height: 93px;
}
.section-5 {
    position: absolute;
    top: 176px;
    left: calc(50% - 225.5px);
    font-size: 17px;
    line-height: 18px;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    width: 176px;
    height: 20px;
}
.on-sportstxt-youll {
    position: absolute;
    top: 200px;
    left: calc(50% - 174.5px);
    font-size: 11px;
    line-height: 18px;
    display: inline-block;
    width: 190px;
    height: 68px;
}
.homepage-image-3 {
    position: absolute;
    top: 150px;
    left: calc(50% + 18.5px);
    border-radius: 20px;
    width: 159px;
    height: 136px;
    object-fit: cover;
}
.imgplaceholder-icon {
    width: 364px;
    position: relative;
    height: 214px;
    object-fit: cover;
}
.cardimage1 {
    border-radius: 12px 12px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.card-title {
    position: relative;
    font-weight: 600;
}
.empower-supporters-with {
    margin: 0;
}
.this-is-a-container {
    width: 310px;
    position: relative;
    font-size: 11px;
    line-height: 24px;
    color: #68717a;
    display: inline-block;
}
.stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.last-updated-3 {
    position: relative;
    font-size: 12px;
    color: #6c757d;
}
.cardcontent {
    align-self: stretch;
    border: 4px solid #1a86e0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
}
.cardimage {
    position: absolute;
    top: 362px;
    left: calc(50% - 181.5px);
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #1a86e0;
    box-sizing: border-box;
    height: 361px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #212529;
}
.cardimage2 {
    position: absolute;
    top: 741px;
    left: calc(50% - 181.5px);
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #1a86e0;
    box-sizing: border-box;
    height: 361px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #212529;
}
.cardimage4 {
    position: absolute;
    top: 1120px;
    left: calc(50% - 181.5px);
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #1a86e0;
    box-sizing: border-box;
    height: 361px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #212529;
}
.cardimage6 {
    position: absolute;
    top: 1499px;
    left: calc(50% - 181.5px);
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #1a86e0;
    box-sizing: border-box;
    height: 361px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #212529;
}
.cardimage8 {
    position: absolute;
    top: 1878px;
    left: calc(50% - 181.5px);
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #1a86e0;
    box-sizing: border-box;
    height: 361px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #212529;
}
.cardimage10 {
    position: absolute;
    top: 2257px;
    left: calc(50% - 181.5px);
    border-radius: 20px;
    background-color: #fff;
    border: 4px solid #1a86e0;
    box-sizing: border-box;
    height: 361px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #212529;
}
.features-child {
    position: absolute;
    top: 2761px;
    left: calc(50% - 178.5px);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 95px;
    height: 93px;
}
.features-item {
    position: absolute;
    top: 2694px;
    left: calc(50% - 152.5px);
    border-radius: 50%;
    background-color: rgba(27, 110, 184, 0.5);
    width: 99px;
    height: 97px;
}
.features-inner {
    position: absolute;
    top: 2761px;
    left: calc(50% - 122.5px);
    border-radius: 50%;
    background-color: #e51a25;
    width: 94px;
    height: 93px;
}
.red-circle-faded-41 {
    position: absolute;
    top: 2744px;
    left: 41px;
    filter: blur(150px);
    border-radius: 50%;
    background-color: #f5e4e5;
    width: 93px;
    height: 93px;
}
.build-a-unified {
    position: absolute;
    top: 2717px;
    left: calc(50% - 37.5px);
    font-weight: 800;
    text-align: center;
    display: inline-block;
    width: 242px;
    height: 82px;
}
.confident-asian-female-entrepr-icon {
    position: absolute;
    top: 2694px;
    left: 30px;
    width: 236px;
    height: 160px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #000;
    width: 423px;
    height: 20px;
}
.logo-icon1 {
    position: absolute;
    top: 12px;
    left: 21.43px;
    width: 106px;
    height: 16.5px;
    object-fit: contain;
}
.navitems3 {
    position: absolute;
    top: 0px;
    left: 170.33px;
    width: 97px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 16px;
    box-sizing: border-box;
}
.contact-us {
    position: absolute;
    top: 6px;
    left: 327.12px;
    line-height: 28px;
    display: inline-block;
    width: 48.5px;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 423px;
    height: 40px;
}
.group-div {
    position: absolute;
    top: 2910px;
    left: 10px;
    width: 423px;
    height: 40px;
    font-size: 8px;
}
.button1 {
    position: relative;
    left: 15px;
    line-height: 18px;
    font-weight: 600;
    white-space: pre-wrap;
}
.button {
    position: absolute;
    top: 2799px;
    left: 230px;
    border-radius: 20px;
    background-color: #fff;
    width: 140px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    color: #000;
}
.features {
    width: 100%;
    position: relative;
    background-color: #233353;
    height: 2939px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Inter;
}


body {
    margin: 0;
    line-height: normal;
}

a{
    color: white;
}